body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #121e2c;
    color: #e0e0e0;
    overflow-x: hidden;
}

.app {
    position: relative;
}

section {
    padding: 80px 10%;
}