.skills h2 {
    color: #2bbbad;
}

.skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.skills li {
    background-color: #1f2a38;
    padding: 10px 20px;
    border-radius: 5px;
    border-left: 3px solid #2bbbad;
}